/* Import third-party CSS first */
@import 'react-datepicker/dist/react-datepicker.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  @apply bg-gray-50 text-gray-900;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 28s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

